<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center">
  <%= link_to 'Event Room', root_path, class: "navbar-brand nav-link #{active_link?(root_path)}"%>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'About', about_path, class: "nav-link #{active_link?(about_path)}"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Contact', contact_path, class: "nav-link #{active_link?(contact_path)}"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Events', events_path(type: "future"), class: "nav-link #{active_link?(events_path)}"%>
      </li>
      <% if logged_in? && current_user.events.count > 0 %>
        <li class="nav-item">
        <%= link_to 'Invite', users_path, class: "nav-link #{active_link?(users_path)}"%>
      </li>
      <% end %>
      
    </ul>


    <ul class="navbar-nav ml-auto">
      <% if logged_in? %> 
         <li class="nav-item">
          <%= link_to 'Profile', user_path(current_user), class: "nav-link" %>
        </li>     
        <li class="nav-item">
          <%= link_to 'Logout', logout_path, class: "nav-link", method: :delete %>
        </li>
      <% else %>
      <li class="nav-item">
          <%= link_to 'Sign Up', signup_path, class: "nav-link #{active_link?(signup_path)}"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Login', login_path, class: "nav-link #{active_link?(login_path)}"%>
        </li>
      <% end %>
    </ul>
  </div>
</nav>